* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Erbaum", sans-serif;
}

@font-face {
    font-family: 'Erbaum';
    src: url('../assets/fonts/Erbaum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Erbaum';
    src: url('../assets/fonts/Erbaum-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
:root {
    --bg-color: #080808;
    --second-bg-color: #0d1218;
    --text-color: rgb(255, 255, 255);
    --main-color: #2903fd;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
    color: var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover, .navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: center;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color); 
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap:1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: white;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Frontend Developer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "UI Designer";
    }
    61%,
    80%{
        content: "Web Developer"
    }
    81%,
    100%{
        content: "Systems Engineer"
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
    color: var(--text-color);
}
.about-img{
    border-radius: 50%;
}
.about-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.heading{
    text-align: center;
    font-size: 6rem;
    margin: 5rem 0;
}
.about-content h2{
    text-align: left;
    line-height: 1.5;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.8rem;
    font-weight: 300;
    margin: 2rem 0 3rem;
}
.about .heading{
    margin: 0;
}
.about-content .text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.about-content .text-animation span::after{
    content: "";
    background-color: var(--second-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--second-bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
.timeline {
    margin: 4rem 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.timeline-item {
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
}

.timeline-item .circle {
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.timeline-item h4 {
    margin: 0 0 5px;
    font-size: 1.8rem;
    color: var(--text-color);
}

.timeline-item h4 span {
    font-size: 1.4rem;
    color: white;
    margin-left: 10px;
}

.timeline-item h6 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--text-color);
}

.timeline-item p {
    margin: 0;
    color: var(--text-color);
    font-size: 1.6rem;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
.skills{
    background: var(--bg-color);
    color: white;
}
.skills h2{
    margin-bottom: 5rem;
    color: var(--text-color);
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.skill-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 780px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.skill-box:hover{
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.skill-box .skill-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
}
.skill-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}
.skill-info p{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.7;
}
.skill-info i{
    font-size: 8rem;
}
.skill-info .skill-list{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.skill-info .skill-list p{
    font-weight: 600;
}
.skill-info .skill-list ul {
    list-style: none;
}
.skill-info .skill-list ul li{
    font-size: 1.6rem;
    font-weight: 300;
    margin: 1rem 0;
}
.skill-info .skill-tools{
    display: flex;
    flex-direction: column;
    
}
.skill-tools p{
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 600;
}
.skill-tools .tools-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}
.tool{
    display: flex;
    flex-direction: column;
}
.tool .tool-image img{
    width: 5.5rem;
    height: 5.5rem;
}
.tool .tool-name{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.skill-info .skill-tech{
    display: flex;
    flex-direction: column;
    
}
.skill-tech p{
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.skill-tech .techs-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}
.tech{
    display: flex;
    flex-direction: column;
}
.tech .tech-image img{
    width: 5.5rem;
    height: 5.5rem;
}
.tech .tech-name{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.projects{
    background: --second-bg-color center no-repeat;
    background-size: cover;
}
.projects-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    margin: 5rem 0;
    gap: 3rem;
    row-gap: 5rem;
}
.project-card{
    height: 600px;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    border: 2px solid var(--main-color);
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.4s ease; 
}
.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02);
}
.project-card img{
    max-width: 18vw;
    object-fit: cover;
}
.project-card h3{
    font-size: 3rem;
}
.project-card p{
    font-size: 1.6rem;
    font-weight: 300;
}
.contact{
    background-color: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: white;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

@media(max-width: 1285px){
    html{
        font-size: 55%;
    }
    .skills-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1,1fr);
        margin: 0 5rem;
    }
    .projects-box{
        grid-template-columns: repeat(2,1fr);
    }
    .projects-box img{
        min-width: 30vw;
    }
}
@media(max-width: 991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width: 895px){
    #menu-icon{
        display:block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
        gap: 3rem;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
        margin: 3rem 0;
    }
    .about{
        flex-direction: column-reverse;
        padding: 10rem 9% 10rem;
    }
    .about .heading{
        margin: 3rem 0;
    }
    .about img{
        width: 50vw;
    }.skills h2{
        margin-bottom: 3rem;
    }
    .skills-container{
        grid-template-columns: repeat(1,1fr);
    }
    .skills h2{
        margin-bottom: 3rem;
    }
    .skills-container{
        grid-template-columns: repeat(1,1fr);
    }
    .projects-box{
        grid-template-columns: repeat(1,1fr);
    }
    .projects-box img{
        min-width: 42rem;
    }
}
@media(max-width: 600px){
    .home {
        margin: 3rem 4rem;
        gap: 0.1rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content h3 {
        font-size: 2.2rem;
    }
    .home-img img {
        width: 56vw;
        margin: 1rem 0;
    }
    .about img {
        width: 64vw;
    }
    .timeline-item h4 span {
        display: block;
        margin: 0.5rem 0; 
    }
    .skills-container{
        margin: 0 1rem;
    }
    .skill-box{
        height: 750px;
    }
    .skill-box .skill-info {
        padding: 2rem 2.5rem;
    }
    .skill-info h4{
        font-size: 3.5rem;
        margin: 1rem 0;
        font-weight: 700;
    }
    .skill-info p{
        font-size: 1.35rem;
        font-weight: 600;
        line-height: 1.7;
    }
    .skill-info i{
        font-size: 7rem;
    }
    .about {
        flex-direction: column-reverse;
        padding: 3rem 9% 6rem;
    }
    .about img {
        width: 70vw;
    }
    .about-content h2 {
        text-align: center;
        line-height: 1.5;
    }
    .about-content h3 {
        font-size: 2.2rem;
    }
    .about-content p {
        font-size: 1.8rem;
        margin: 1.5rem 0 3rem;
    }
    .about .heading {
        margin: 2rem 0;
    }
    .projects {
        margin: 1rem 0;
    }
    .heading {
        font-size: 6rem;
        margin: 3rem 0;
    }
    .projects-box {
        grid-template-columns: repeat(1, 1fr);
    }
    .projects-box img {
        min-width: 36rem;
    }
    .project-card {
        height: 500px;
        max-width: 350px;
        padding: 4rem 2rem;
    }
    .project-card h3 {
        font-size: 2.8rem;
    }
    .project-card p {
        font-size: 1.5rem;
    }
    .contact {
        padding: 3rem 3%;
    }
    .contact form {
        margin: 3rem auto;
    }
    .contact form .input-box input, .contact form textarea {
        padding: 2rem;
        font-size: 1.6rem;
    }
    .footer{
        padding: 5rem 3%;
    }
    .footer ul li {
        padding: 0 10px;
    }
    .footer ul li a {
        font-size: 16px;
    }
    .footer .social a {
        font-size: 20px;
        width: 38px;
        height: 38px;
        line-height: 38px;
    }
    .footer .social {
        padding-bottom: 15px;
    }
    .footer .social a {
        margin: 0 8px;
    }
}